@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --ff: 'Poppins', sans-serif;

    --fs-200: 1.125rem;
    --fs-400: 1.35rem;
    --fs-450: 1.4rem;
    --fs-550: 1.5rem;
    --fs-650: 1.75rem;
    --fs-750: 1.9rem;
    --fs-800: 2.2rem;

    --fw-bold: bold;
    --fw-bolder: bolder;

    --clr-transparent-white: rgb(255 255 255 / 0.7);
    --clr-white: #fff;
    --clr-gray: #C0C0C0;
    --clr-charcoal: #36454F;
    --clr-darkgrayish: #101820;
    --clr-darkgray: #A9A9A9;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html{
    user-select: none;
    font-family: var(--ff);
    line-height: 1.1;
}

body{
    margin: 0;
    padding: 0;
}

.scroll-btn{
    position: fixed;
    right: 5%;
    bottom: 5%;
    transform: translate(-5%, -5%);
}

.scroll-button{
    background-color: transparent;
    color: var(--clr-white);
    border: 1px solid var(--clr-white);
    padding: 0.9em 1em;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.scroll-button:hover{
    color: var(--clr-darkgrayish);
    background-color: var(--clr-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main_page{
    background: url('../assets/images/main_bg_body.jpg') center/cover no-repeat;
    height: 100dvh;
}

.main_nav{
    --pd-15: 1.75rem;
    --pr-05: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_nav h1{
    font-size: var(--fs-750);
    margin: 0;
    padding-block: var(--pd-15);
    padding-inline: calc(var(--pd-15) + var(--pr-05));
    animation: focim_animacio 1s ease-in-out;
}

.main_nav a{
    text-decoration: none;
    color: var(--clr-transparent-white);
}

.hamburger-menu{
    padding-block: 2rem;
}

.hamburger-menu button{
    background-color: transparent;
    border: none;
    padding: 0;
    transition: all 0.3s ease-out;
}

.hamburger-menu button i{
    font-size: var(--fs-650);
    color: var(--clr-white);
}

.hamburger-menu button:hover{
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    animation: navigacios_sav 1s ease-in-out;
}

.socials{
    margin-block: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    align-self: center;
}

.social-icon a{
    color: var(--clr-white);
    font-size: var(--fs-450);
}

.social-icon i{
    border-radius: 60px;
    border: 1px solid white;
    padding: 0.6em 0.7em;
    transition: all 0.3s ease-out;
}

.social-icon i:hover{
    background-color: var(--clr-white);
    color: var(--clr-darkgrayish);
    border-color: var(--clr-darkgrayish);
    transition: all 0.3s ease-in;
}

.main-content{
    width: 30%;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-20%, -55%);
    animation: main_szoveg 1s ease;
}

.main-content h2{
    font-size: var(--fs-200);
    color: var(--clr-darkgray);
    margin: 0;
}

.main-content p{
    text-align: justify;
    font-family: var(--ff);
    font-size: var(--fs-650);
    margin: 0;
    color: var(--clr-white);
}

@media screen and (max-width: 1000px) {
    .socials{
        display: none;
    }
    .main-content{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 60%;
    }
}

@media screen and (max-width: 750px) {
    .main-content{
        width: 80%;
    }
}

.sidebar {
    width: 200px;
    height: 100dvh;
    background-color: var(--clr-white);
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.3s;
    padding: 20px;
}

.sidebar a{
    font-size: var(--fs-450);
    font-weight: var(--fw-bolder);
    text-decoration: none;
    color: var(--clr-gray);
}

.sidebar h3{
    color: var(--clr-darkgrayish);
    font-size: var(--fs-400);
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar li{
    margin-block: 1.5rem;
    color: var(--clr-darkgrayish);
}

.sidebar ul li a{
    color: var(--clr-darkgrayish);
    font-weight: 400;
    font-size: var(--fs-200);
    transition: all 0.3s ease-out;
}

.sidebar ul li a:hover{
    color: #A9A9A9;
    transition: all 0.3s ease-in;
}

#munkaim{
    background-color: var(--clr-white);
    border: 1px solid var(--clr-darkgrayish);
    padding: 0.4rem;
}

.munkaim {
    height: 100dvh;
}

/* ANIMÁCIÓK OLDAL TÖLTÉSNÉL */
/* ------------------------- */

@keyframes focim_animacio {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes navigacios_sav {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes main_szoveg{
    0% {
        transform: translate(-85%, -55%);
    }
    100%{
        transform: translate(-20%, -55%);
    }
}