@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff-poppins: 'Poppins', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --clr-white: #fff;
    --clr-whiteGray: hsl(352, 20%, 92%);
    --clr-darkgrayish: #101820;
    --clr-black: #000000;
    --clr-red: #cc4658;
    --clr-accent: #61d365;
    --clr-blue: hsl(207, 100%, 55%);
    --clr-hover: hsl(240, 96%, 68%);
    --clr-brown: #1f1603;
    --clr-blueish: hsl(221, 45%, 21%);

    --fs-100: 0.5rem;
    --fs-200: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;
    --fs-1000: 3rem;

    --height-1100: 3.25rem;

    --resp-fs: 5vmin;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

body, h1, h2, p{
    margin: 0;
}

.desktop-view{
    width: 100vw;
    height: 100dvh;
    background: url(../assets/images/munkaink-bg-default.jpg) center/cover no-repeat;
    z-index: 0;
}

.taskbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--clr-black);
    z-index: 2;
}

.desktop-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.desktop-title h1{
    padding: 3rem;
    backdrop-filter: blur(0.35rem);
    font-size: var(--fs-1000);
    font-family: var(--ff-poppins);
    font-weight: bolder;
    color: var(--clr-white);
}

.bg-changer-div button{
    margin: 0.5rem 3rem 0.5rem 0.5rem;
    padding: 0.35rem;
    border: 1px solid var(--clr-white);
    border-radius: 0.35rem;
    background: transparent;

    animation: bg_body_btn 0.8s ease;
}

.bg-changer-div button:hover{
    cursor: pointer;
    background: rgb(255 255 255 / 0.3);
}

.bg-changer-div button i{
    font-size: var(--fs-500);
    color: var(--clr-white);
}

.bg-changing{
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    position: absolute;
    margin-left: 0.35rem;
    top: 87%;
    transform: translateY(287%);
    transition: transform 0.5s ease;
}

.background{
    --width-height: 2.5rem;
    width: var(--width-height);
    height: var(--width-height);
}

.background img{
    padding: 0.5rem;
    width: var(--width-height);
    height: var(--width-height);
}

.background img:hover{
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(0 0 0 / 0.3);
}

.main-btns{
    display: flex;
    gap: 0.5rem;
    padding: 0 0.5rem;

    animation: middle_btns 0.8s ease;
}

#fomenu:hover{
    cursor: pointer;
}

.main-btns a{
    text-decoration: none;
    font-size: var(--fs-700);
    margin: 0.1rem;
    padding: 0.4rem;
    color: var(--clr-white);
    border-radius: 0.3rem;
}

.main-btns a:hover{
    background-color: rgb(255 255 255 / 0.3);
}

.time-etc{
    animation: date 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.75rem;
}

.time-etc p{
    color: var(--clr-white);
    font-family: var(--ff-poppins);
    font-size: var(--fs-200);
}

/* Fő menüpontok */

.menus{
    width: 50%;
    height: 75%;
    position: absolute;
    overflow-y: scroll;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 250%);
    background-color: transparent;
    background-color: rgb(0 0 0 / 0.3);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    z-index: 1;
    transition: transform 0.7s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menus::-webkit-scrollbar{
    display: none;
}

.menus-title h2{
    text-align: center;
    margin: 1rem 0;
    color: var(--clr-white);
    font-size: var(--fs-800);
    font-family: var(--ff-poppins);
}

.menus-all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.menu{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    flex: 1;
    width: 204px;
    height: 204px;
}

.menu:hover{
    cursor: pointer;
    background-color: rgb(255 255 255 / 0.3);
}

.menu h3{
    font-family: var(--ff-poppins);
    color: var(--clr-white);
    text-align: center;
}

.menu img{
    width: 4rem;
    height: 4rem;
    display: block;
    margin-inline: auto;
}

.lumar-menu{
    overflow-y: scroll;
    position: absolute;
    width: 65%;
    height: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.lumar-menu::-webkit-scrollbar{
    display: none;
}

.lumar-menu h2{
    margin-block: 1.5rem;
    color: var(--clr-white);
    font-family: var(--ff-poppins);
    font-size: var(--fs-700);
    text-align: center;
}

.flex-menu{
    display: flex;
    /* margin-inline: 5rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-menu div{
    flex: 1;
}

.flex-menu h3{
    color: var(--clr-white);
    font-family: var(--ff-poppins);
    text-align: center;

}

.flex-menu p{
    color: var(--clr-white);
}

.flex-menu img{
    width: 500px;
    height: 250px;
    display: block;
    margin-top: 4rem;
    margin-inline: auto;
}

.flex-menu figcaption{
    color: var(--clr-white);
    font-size: var(--fs-100);
    font-style: italic;
    margin-left: 0.5rem;
}

.link-flex-menu{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
}

.link-menu a{
    color: var(--clr-white);
}

@media screen and (max-width: 1100px) {
    .menus{
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    .menus{
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .menus-all{
        flex-direction: column;
    }
}

/* Kezdetleges animációk */

@keyframes date {
    0%{
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes middle_btns {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bg_body_btn {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}